#fondo{
    height: 1500px;
    width: 1510px;
    margin: 0;
    padding: 0;
    background: url('../ProgWebGit/Recursos/Imagenes/turismo-nicaragua-1-scaled.jpg');
    margin-top: 0px; 
    background-repeat: no-repeat;
}

.botones{
    text-decoration: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    display: inline-block;
    color: cornsilk;
    background-color: coral;
    box-shadow: 0 3px 0 rgba(255, 255, 255, 0.3) 
}

.celda{
    height: 200px;
    width: 3000px;
    text-align: center;
    padding: 50px;
}

.fila{
    width: 1000px;
    background-color: rgba(66, 249, 255, 0.699) ;
    border-radius: 10px;
}

#tabla{
    margin: 0 auto;
}
